.users-container {
    min-height: 100vh;
    background-color: #040223;
    color: #ffffff;
}

.users-header {
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;
    align-items: center;
}

.users-header h1 { 
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif; 
    font-size: 36px;
    font-weight: 700;
}

.users-table {
    background-color: #211D54;
    border-radius: 8px;
    overflow: hidden;
}

.users-table th:nth-child(1), 
.users-table td:nth-child(1) {
    width: 5%;  
}

.users-table th:nth-child(2), 
.users-table td:nth-child(2) {
    width: 60%;  
    
}

.users-table th:nth-child(3), 
.users-table td:nth-child(3) {
    width: 30%;  
}

.users-table th:nth-child(4), 
.users-table td:nth-child(4) {
    width: 5%;   
}