.movies-container {
    min-height: 100vh;
    background-color: #040223;
    color: #ffffff;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    background-color: #211D54;

}

.nav-logo span {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 4px;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
    font-size: 0.7rem; 
    padding: 0.2rem 0.5rem; 
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.nav-links a.active {
    background-color: #635CC3;
    opacity: 0.5;
    box-shadow: 5px 10px 30px rgba(87, 75, 144, 0.5);
}

.logout-btn {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
}

.content {
    padding: 2rem;
    max-width: 1570px;
    margin: 0 auto;
}

.movies-header {
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;
    align-items: center;
}

.movies-header h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.header-buttons {
    display: flex;
    gap: 1rem;
}

.icon-button {
    width: 2rem; 
    height: 2rem; 
    background: #323056; 
    border: 1.5px solid rgb(255, 255, 255); 
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    transition: all 0.3s ease;
}

.icon-button:hover {
    background-color: #635CC3;
    opacity: 0.5;
    
}

.movies-table {
    background-color: #211D54;
    border-radius: 8px;
    overflow: hidden;
   
    
}

table {
    width: 100%;
    border-collapse: collapse;

}

th, td {
    padding: 0.1rem 4rem;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    min-width: 150px;
}

th {
    font-weight: 150;
    color: rgb(255, 255, 255);
    padding: 1rem 4rem; 
}

td {
    font-size: 0.7rem;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.02);
}

.more-button {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.more-button:hover {
    background-color: #635CC3;
    opacity: 0.5;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
    font-size: 1.2rem;
}

th:nth-child(1), 
td:nth-child(1) {
    width: 50%;  
}

th:nth-child(2), 
td:nth-child(2) {
    width: 25%;  
}

th:nth-child(3), 
td:nth-child(3) {
    width: 20%;  
}

th:nth-child(4), 
td:nth-child(4) {
    width: 5%;  
}